*, html, body {
    /* margin: 20px; */
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    margin: 2rem;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: max-content;
    margin: 0;
    overflow-y: auto; /* supaya list-note-item nya tidak menjorok keatas */
}

.input-area {
    gap: 0.5rem;
    margin: 1rem;
}

#note-btn, #input-note, #input-judul {
    margin: 0.5rem;
    /* width: 325px; */
}

#input-judul {
    width: 150px;
}

#input-note {
    height: 25vh;
    width: 300px;
}

#note-btn {
    width: 325px;
    background-color: blueviolet;
    cursor: pointer;
}

#note-btn:hover {
    background-color: blue;
    box-shadow: 0 8px 24px rgba(0,0,0,0.18), 0 1.5px 4px rgba(0,0,0,0.10);
    transform: translateY(-5px) scale(1.03);
    transition: background-color 0.3s ease-in-out,
    color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#list-note {
    list-style: none;
    margin: 0 auto;
    background-color: blue;
}

.list-note-item {
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
  padding: 0.75rem;
  border-bottom: 1px solid #eee;
  border: 1px solid red;
  /* margin-right: 20px; */
}

.note-content h3 {
  margin: 0 0 0.25rem 0; 
  font-size: 1.2rem;
  font-weight: bold;
}

.note-text {
  margin: 0 0 0.5rem 0;
  color: #333; 
}

.note-actions {
  display: flex;
  gap: 0.5rem; 
}

.note-actions button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.note-actions button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}


